
*{
    font-family: 'poppins' ,sans-serif;
}
h1{
    color: #fff;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    text-align: center;
}

body{
    /* background-image: url("images/bg1.jpg"); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #fff;
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}
span{
    color: rgb(255, 255, 255);
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    margin-top: 30px;
    
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: rgb(255, 255, 255);
}
::-webkit-input-placeholder{
    color: rgb(255, 255, 255);
}

.submit {
    border: none;
    border-radius: 15px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;
    margin-top: 30px;
}

.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #fff;
}

.text-box {
    margin-left: 44vw;
    margin-top: 70px;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 15px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: rgb(0, 0, 0);
    opacity: 80%;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}*/

/*Booking form*/
.booking-form-box{
    max-width: 350px;
    border: 1px solid #fff;
    margin: 10% auto 0;
    border-radius: 10px;

}

.radio-btn{
    margin: 0 20px;
}

.radio-btn .btn{
    margin: 20px 10px 20px 0 ;
    box-shadow: none;
}

.radio-btn .btn::after{
    content:"";
    height: 15px;
    width: 15px;
    top: -2px;
    left: -2px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    border: 2px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after{
    content: '';
    background-color: black;
    transition: 0.5s;
}

.radio-btn span{
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
}